/* src/styles/components/Common.module.css */

/* Estilos generales */

.title {
  background-color: #1f1f1f;
  text-align: center;
  align-items: center;
  padding-top: 20px;
}

.titleAgenda {
  text-align: center;
  align-items: center;
  color: black;
}

.agenda {
  /* Sección agenda */
  margin-top: 2rem;
}

.usina {
  /* Sección usina */
  margin-top: 2rem;
}

.carruselContainer {
  width: 100%;
  height: 640px;
  margin: 0 auto; 
  position: relative;
}

.agendaSection {
  position: relative;
  z-index: 3;
}

.preguntasSection {
  background-color: white;
  margin-bottom: 50px;
}

.titlePreguntas {
  text-align: center;
  align-items: center;
  color: black;
}
